html {
    height: 100%;
}

body {
    margin: 0;
    padding: 0;
    overflow: auto;
    height: 100%;
}

.left {
    float: left;
    padding-right: 0px;
    margin-right: 10px;
    overflow-y: auto;
    position: relative;
    height: 100%;
}

.right {
    float: left;
}

h2#title {
    text-align: center;
}

div#type-level-0 {
    margin-bottom: 10px;
}

div.group {
    padding-top: 10px;
    display: none;
}

label.type,
label.subtype {
    display: inline-block;
    font-size: 11pt;
}

label.type {
    width: 38px;
}

label.subtype {
    width: 65px;
}

input.transf {
    background-color: #DDD;
    width: 92px;
}

input.iter {
    width: 70px;
}

input.init {
    width: 70px;
}

input#svg-file {
    width: 120px
}